.organize-your-co3 {
  position: absolute;
  top: 19px;
  left: 96px;
  font-size: 25px;
  font-weight: 600;
  display: inline-block;
  width: 241px;
  height: 47px;
}
.employees-child6,
.label12 {
  position: relative;
  width: 17.25px;
  height: 23.38px;
  flex-shrink: 0;
}
.label12 {
  font-weight: 600;
  display: inline-block;
  width: 258px;
  height: 27px;
}
.employees10,
.employees11,
.employees12,
.employees9 {
  position: absolute;
  left: 0;
  width: 408px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.employees9 {
  top: 127px;
  height: 83px;
}
.employees10 {
  top: 210px;
  height: 93px;
}
.employees10,
.employees11,
.employees12 {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
.employees11 {
  top: 303px;
  height: 103px;
}
.employees12 {
  height: 103px;
  top: 406px;
}
.frame-child12 {
  position: absolute;
  top: 209.5px;
  left: -0.5px;
  border-top: 1px solid #000;
  box-sizing: border-box;
  width: 409px;
  height: 1px;
}
.frame-child13 {
  width: 409px;
}
.frame-child13,
.frame-child14 {
  position: absolute;
  left: -0.5px;
  border-top: 1px solid #000;
  box-sizing: border-box;
  height: 1px;
}
.frame-child13 {
  top: 302.5px;
}
.frame-child14 {
  top: 405.5px;
  width: 409.02px;
}
.frame-child15 {
  position: absolute;
  top: 508px;
  left: 0;
  width: 408px;
  height: 3px;
}
.organize-your-co-group {
  position: absolute;
  width: calc(100% - 1472px);
  top: calc(50% - 502px);
  right: 1472px;
  left: 0;
  border-radius: 0 25px 25px 0;
  background-color: #1f282d;
  border: 1px solid #fff;
  box-sizing: border-box;
  height: 987px;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  color: #fff;
  font-family: Jost;
}
