.meeting-child28 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 22px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.meeting-1-at31 {
  position: absolute;
  height: 62.82%;
  width: 89.04%;
  top: 24.36%;
  left: 10.96%;
  font-weight: 600;
  display: inline-block;
}
.image-23-icon31 {
  position: absolute;
  height: 51.28%;
  width: 5.39%;
  top: 16.67%;
  right: 92.49%;
  bottom: 32.05%;
  left: 2.12%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.meeting31 {
  position: absolute;
  top: calc(50% - 327px);
  left: calc(50% - 228px);
  border-radius: 9px;
  width: 519px;
  height: 78px;
  text-align: left;
  font-size: 20px;
  color: #000;
  font-family: Jost;
}
.meeting31:hover {
  border: 1px solid #1f85ec;
  box-sizing: border-box;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
